.main-content {
    padding-top: 51px;
}

body {
    width: 1280px;
    background-color: #eeeeee;
}

.home-left {

}

.home-right {
    width: 30%;
}

.home-left .home-slider {

    height: 300px;
    width: 100%;
}

.home-left .home-cate {
    height: 400px;
}
